<main id="main" class="main">
  <div class="pagetitle">
    <h1>Requirement Details</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">Requirement Details</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <app-form class="col-sm-12 col-sm-10" title="Details" subtitle="Requirement Details go here"></app-form>
    <div class="row mb-3 me-2 justify-content-end">
      <button type="submit" class="col-2 btn btn-primary">Save</button>
    </div>
  </section>
</main>
