<div class="card">
  <div class="card-body">
    <h5 class="card-title">Properties</h5>
    <form>
      <div class="row mb-3">
        <div class="col-lg-6">
          <label class="col-form-label">State</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Casual</option>
            <option value="2">Completed</option>
            <option value="3">Fully Dressed</option>
          </select>
        </div>
        <div class="col-lg-6">
          <label class="col-form-label">Owner</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Alaa</option>
            <option value="2">Saad</option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-lg-6">
          <label class="col-form-label">Functional Area</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>None</option>
          </select>
        </div>
        <div class="col-lg-6">
          <label class="col-sm-2 col-form-label">Priority</label>
          <select class="form-select" aria-label="Default select example">
            <option value="Very High">Very High</option>
            <option value="High">High</option>
            <option value="Normal" selected>Normal</option>
            <option value="Low">Low</option>
            <option value="Very Low">Very Low</option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-lg-6">
          <label class="col-form-label">Size</label>
          <select class="form-select" aria-label="Default select example">
            <option value="Very High">Very Large</option>
            <option value="High">Large</option>
            <option value="Normal" selected>Medium</option>
            <option value="Low">Small</option>
            <option value="Very Low">Trivial</option>
          </select>
        </div>
        <div class="col-lg-6">
          <label class="col-sm-2 col-form-label">Complexity</label>
          <select class="form-select" aria-label="Default select example">
            <option value="Very High">Very High</option>
            <option value="High">High</option>
            <option value="Normal" selected>Medium</option>
            <option value="Low">Low</option>
            <option value="Very Low">Very Low</option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-lg-6">
          <label class="col-form-label">Risk</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>None</option>
          </select>
        </div>
        <div class="col-lg-6">
          <label class="col-form-label">Stability</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>None</option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-lg-6">
          <label class="col-form-label">User Need</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>None</option>
          </select>
        </div>
        <div class="col-lg-6">
          <label class="col-form-label">User Priority</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>None</option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label class="col-form-label card-title">Assignment</label>
          <p>Created By: Alaa Jawhar</p>
          <p>Updated At: 2016-05-25</p>
        </div>
        <div class="col">
          <label class="col-form-label card-title">Completion</label>
          <p>Completed By: Alaa Jawhar</p>
          <p>Completed At: Today</p>

        </div>
      </div>
      <div class="row mb-3 me-3 justify-content-end">
        <button type="submit" class="col-2 btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
