<form *ngIf="stepType === ifStep">
  <div class="row mb-3" [ngClass]="isFirst? 'card-title': ''">
    <div class="col-1 top-left-button-container" *ngIf="isFirst">
      <select class="form-select" aria-label="Default select example">
        <option selected>{{stepType.valueOf()}}</option>
      </select>
    </div>
    <div id="ifText" [ngClass]="isFirst? 'col-11': 'col-12'"><textarea class="form-control" style="height: 100px"></textarea></div>
  </div>
  <div class="row mb-3" *ngFor="let x of this.thenList" >
    <div class="col-1 mb-3">
      <div class="top-left-button-container">
        <select class="form-select" aria-label="Default select example">
          <option selected>THEN</option>
          <option>ELSE IF</option>
        </select>
      </div>
    </div>
    <div class="col-1">
      <div class="top-left-button-container">
        <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedResultType" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let resultValue of LOGICAL_STEP_CONSTANTS; let i = index" [ngValue]="resultValue.type">
            {{resultValue.text }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-10" [ngSwitch]="selectedResultType">
      <textarea *ngSwitchCase="textStep" class="form-control" style="height: 30px"></textarea>
      <div *ngSwitchCase="ifStep">
        <app-logic-condition [stepType]="ifStep"></app-logic-condition>
      </div>
    </div>
  </div>
  <button (click)="onAddThenCondition($event)" type="button" class="col-1 btn btn-primary top-right-button-container"> + </button>
</form>
