<div class="row mt-3">
  <div class="col">
    <div class="card">
      <div class="card-body scroll">
<!--        <h5 class="card-title">CASE CONDITION</h5>-->
        <app-logic-condition [stepType]="stepType" [isFirst]="true"></app-logic-condition>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="largeModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content rounded-3">
      <div class="modal-header">
        <h5 class="modal-title">Create New Item</h5>
      </div>
      <div class="modal-body">
        <form ngNativeValidate #myForm = "ngForm" (ngSubmit) = "onCreateNewItem(myForm)">
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
              <input id="inputText" [(ngModel)]="newTaskTitle" name="newTaskTitle" type="text" class="form-control">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputTextArea" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
              <textarea id="inputTextArea" [(ngModel)]="newTaskDesc" name="newTaskDesc" class="form-control" style="height: 100px"></textarea>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Type</label>
            <div class="col-sm-10">
              <select class="form-select" aria-label="Default select example" [(ngModel)]="newTaskType" name="newTaskType">
                <option value="ChangeRequest" selected>Change Request</option>
                <option value="Bug">Bug</option>
                <option value="Issue">Issue</option>
                <option value="Task">Task</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
