<main id="main" class="main">
  <div class="pagetitle">
    <h1>Screen Mockups</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">Screen Mockups</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <app-multi-tab>
      <app-tab [title]="'Tab 1'" [templateRef]="temp1">
        <ng-template #temp1>
          <p>Content for Tab 1</p>
        </ng-template>
      </app-tab>

      <app-tab [title]="'Tab 2'" [templateRef]="temp2">
        <ng-template #temp2>
          <p>Content for Tab 2</p>
        </ng-template>
      </app-tab>

      <app-tab [title]="'Tab 3'" [templateRef]="temp3">
        <ng-template #temp3>
          <p>Content for Tab 3</p>
        </ng-template>
      </app-tab>
    </app-multi-tab>
  </section>
</main>


