<main id="main" class="main">
  <div class="pagetitle">
    <h1>Use Cases</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">Use Case Details</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Use Case Details</h5>
        <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
          <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100 active" id="main-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-main" type="button" role="tab" aria-controls="main" aria-selected="true">Main</button></li>
          <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="flow-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-flow" type="button" role="tab" aria-controls="flow" aria-selected="false">Flow</button></li>
          <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="flow-diagram-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-flow-diagram" type="button" role="tab" aria-controls="flow-diagram" aria-selected="false">Flow Diagram</button></li>
          <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="properties-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-properties" type="button" role="tab" aria-controls="properties" aria-selected="true">Properties</button></li>
          <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="requirements-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-requirements" type="button" role="tab" aria-controls="requirements" aria-selected="false">Requirements</button></li>
          <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="comments-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-comments" type="button" role="tab" aria-controls="comments" aria-selected="false">Comments</button></li>
          <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="attachments-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-attachments" type="button" role="tab" aria-controls="attachments" aria-selected="false">Attachments</button></li>
          <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="items-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-items" type="button" role="tab" aria-controls="items" aria-selected="false">Items</button></li>
          <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="history-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-history" type="button" role="tab" aria-controls="history" aria-selected="false">History</button></li>
        </ul>
        <div class="tab-content pt-2" id="borderedTabJustifiedContent">
          <div class="tab-pane fade show active" id="bordered-justified-main" role="tabpanel" aria-labelledby="main-tab">
            <app-custom-form class="col" title="Description" subtitle="Goal In Contex"></app-custom-form>
            <app-custom-form class="col" title="Actors" subtitle="Actors who involved in this story"></app-custom-form>
            <div class="row">
              <app-custom-form class="col-sm-12 col-lg-6" title="Pre-condition" subtitle="Pre-condition condition"></app-custom-form>
              <app-custom-form class="col-sm-12 col-lg-6" title="Post-condition" subtitle="Post-condition condition"></app-custom-form>
            </div>
          </div>
          <div class="tab-pane fade" id="bordered-justified-flow" role="tabpanel" aria-labelledby="flow-tab"> flow totam et. Consequuntur magnam aliquid eos nulla dolor iure eos quia. Accusantium distinctio omnis et atque fugiat. Itaque doloremque aliquid sint quasi quia distinctio similique. Voluptate nihil recusandae mollitia dolores. Ut laboriosam voluptatum dicta.</div>
          <div class="tab-pane fade" id="bordered-justified-flow-diagram" role="tabpanel" aria-labelledby="flow-diagram-tab"> flow-diagram animi et soluta ad odit soluta sunt. Nihil quos omnis animi debitis cumque. Accusantium quibusdam perspiciatis qui qui omnis magnam. Officiis accusamus impedit molestias nostrum veniam. Qui amet ipsum iure. Dignissimos fuga tempore dolor.</div>
          <div class="tab-pane fade show" id="bordered-justified-properties" role="tabpanel" aria-labelledby="properties-tab"> properties est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</div>
          <div class="tab-pane fade" id="bordered-justified-requirements" role="tabpanel" aria-labelledby="requirements-tab"> requirements totam et. Consequuntur magnam aliquid eos nulla dolor iure eos quia. Accusantium distinctio omnis et atque fugiat. Itaque doloremque aliquid sint quasi quia distinctio similique. Voluptate nihil recusandae mollitia dolores. Ut laboriosam voluptatum dicta.</div>
          <div class="tab-pane fade" id="bordered-justified-comments" role="tabpanel" aria-labelledby="comments-tab"> comments animi et soluta ad odit soluta sunt. Nihil quos omnis animi debitis cumque. Accusantium quibusdam perspiciatis qui qui omnis magnam. Officiis accusamus impedit molestias nostrum veniam. Qui amet ipsum iure. Dignissimos fuga tempore dolor.</div>
          <div class="tab-pane fade" id="bordered-justified-attachments" role="tabpanel" aria-labelledby="attachments-tab"> attachments animi et soluta ad odit soluta sunt. Nihil quos omnis animi debitis cumque. Accusantium quibusdam perspiciatis qui qui omnis magnam. Officiis accusamus impedit molestias nostrum veniam. Qui amet ipsum iure. Dignissimos fuga tempore dolor.</div>
          <div class="tab-pane fade" id="bordered-justified-items" role="tabpanel" aria-labelledby="items-tab"> items animi et soluta ad odit soluta sunt. Nihil quos omnis animi debitis cumque. Accusantium quibusdam perspiciatis qui qui omnis magnam. Officiis accusamus impedit molestias nostrum veniam. Qui amet ipsum iure. Dignissimos fuga tempore dolor.</div>
          <div class="tab-pane fade" id="bordered-justified-history" role="tabpanel" aria-labelledby="history-tab"> history animi et soluta ad odit soluta sunt. Nihil quos omnis animi debitis cumque. Accusantium quibusdam perspiciatis qui qui omnis magnam. Officiis accusamus impedit molestias nostrum veniam. Qui amet ipsum iure. Dignissimos fuga tempore dolor.</div>
        </div>
      </div>
    </div>  </section>
</main>
