<main id="main" class="main">
  <div class="pagetitle">
    <h1>Use Cases</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">Use Case Details</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Use Case Details</h5>
        <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
          <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100 active" id="main-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-main" type="button" role="tab" aria-controls="main" aria-selected="true">Main</button></li>
          <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="requirements-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-requirements" type="button" role="tab" aria-controls="requirements" aria-selected="false">Requirements</button></li>
          <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="flow-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-flow" type="button" role="tab" aria-controls="flow" aria-selected="false">Flow</button></li>
          <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="flow-diagram-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-flow-diagram" type="button" role="tab" aria-controls="flow-diagram" aria-selected="false">Flow Diagram</button></li>
          <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="properties-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-properties" type="button" role="tab" aria-controls="properties" aria-selected="true">Properties</button></li>
          <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="comments-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-comments" type="button" role="tab" aria-controls="comments" aria-selected="false">Comments</button></li>
          <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="attachments-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-attachments" type="button" role="tab" aria-controls="attachments" aria-selected="false">Attachments</button></li>
          <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="items-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-items" type="button" role="tab" aria-controls="items" aria-selected="false">Items</button></li>
          <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="history-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-history" type="button" role="tab" aria-controls="history" aria-selected="false">History</button></li>
        </ul>
        <div class="tab-content pt-2" id="borderedTabJustifiedContent">
          <div class="tab-pane fade  show active" id="bordered-justified-main" role="tabpanel" aria-labelledby="main-tab">
            <app-form class="col" title="Description" subtitle="Goal In Contex"></app-form>
            <div class="row">
              <div class="col">
                <div class="card card-body">
                  <h5 class="card-title"> Primary Actors</h5>
                  <p> Main actors in this story</p>
                  <angular2-multiselect [data]="dropdownList" [(ngModel)]="primarySelectedItems"
                                        [settings]="dropdownSettings"
                                        (onSelect)="onItemSelect($event)"
                                        (onDeSelect)="OnItemDeSelect($event)"
                                        (onSelectAll)="onSelectAll($event)"
                                        (onDeSelectAll)="onDeSelectAll($event)">
                  </angular2-multiselect>
                </div>
              </div>
              <div class="col">
                <div class="card card-body">
                  <h5 class="card-title"> Secondary Actors</h5>
                  <p> Actors who support the main actor in this story</p>
                  <angular2-multiselect [data]="dropdownList" [(ngModel)]="secondarySelectedItems"
                                        [settings]="dropdownSettings"
                                        (onSelect)="onItemSelect($event)"
                                        (onDeSelect)="OnItemDeSelect($event)"
                                        (onSelectAll)="onSelectAll($event)"
                                        (onDeSelectAll)="onDeSelectAll($event)">
                  </angular2-multiselect>
                </div>
              </div>
            </div>
            <div class="row">
              <app-form class="col-sm-12 col-lg-12" title="Pre-condition" subtitle="Pre-condition condition"></app-form>
              <app-form class="col-sm-12 col-lg-6" title="Post-condition Upon Success" subtitle="Post-condition success"></app-form>
              <app-form class="col-sm-12 col-lg-6" title="Post-condition Upon Failure" subtitle="Post-condition upon failure"></app-form>
            </div>
          </div>
          <div class="tab-pane fade" id="bordered-justified-requirements" role="tabpanel" aria-labelledby="requirements-tab">
            <app-uc-requirements></app-uc-requirements>
          </div>
          <div class="tab-pane fade" id="bordered-justified-flow" role="tabpanel" aria-labelledby="flow-tab">
            <app-uc-flow></app-uc-flow>
          </div>
          <div class="tab-pane fade" id="bordered-justified-flow-diagram" role="tabpanel" aria-labelledby="flow-diagram-tab">
            <app-uc-flow-diagram></app-uc-flow-diagram>
          </div>
          <div class="tab-pane fade show" id="bordered-justified-properties" role="tabpanel" aria-labelledby="properties-tab">
            <app-uc-properties></app-uc-properties>
          </div>
          <div class="tab-pane fade" id="bordered-justified-comments" role="tabpanel" aria-labelledby="comments-tab">
            <app-uc-comments></app-uc-comments>
          </div>
          <div class="tab-pane fade" id="bordered-justified-attachments" role="tabpanel" aria-labelledby="attachments-tab">
            <app-uc-attachments></app-uc-attachments>
          </div>
          <div class="tab-pane fade" id="bordered-justified-items" role="tabpanel" aria-labelledby="items-tab">
            <app-uc-items></app-uc-items>
          </div>
          <div class="tab-pane fade" id="bordered-justified-history" role="tabpanel" aria-labelledby="history-tab">
            <app-uc-history></app-uc-history>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


