<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
       <li class="nav-item"> <a class="nav-link" routerLink="/requirements"> <i class="bi bi-list-check"></i> <span>Requirements</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/user-stories"> <i class="bi bi-grid"></i> <span>User Stories</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/actors"> <i class="bi bi-people"></i> <span>Actors</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/use-cases"> <i class="bi bi-diagram-2"></i> <span>Use Cases</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/use-case-diagrams"> <i class="bi bi-layers"></i> <span>Use Case Diagrams</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/glossary"> <i class="bi bi-card-list"></i> <span>Glossaries</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/screen-flow-diagrams"> <i class="bi bi-bar-chart-steps"></i> <span>Screen Flow Diagrams</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/screen-mockups"> <i class="bi bi-hdd-stack"></i> <span>Screen Mockups</span> </a></li>
    </ul>
 </aside>
