<div class="row app-row">
  <div class="col-12">

    <div class="top-right-button-container mb-3 me-4">
      <button type="button" (click)="showAddNewModal()" class="top-right-button btn btn-outline-primary rounded-pill btn-lg mr-1"> Add </button>
    </div>

  </div>
  <ng-container *ngIf="todoItems; else loading">
    <div class="col-12" *ngFor="let item of todoItems; let i=index">
      <div class="card d-flex mb-3 p-3">
        <div class="d-flex flex-grow-1 min-width-zero">
          <div class="align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center card-body">
            <a class="list-item-heading truncate w-40 w-xs-100  mb-1 mt-1" id="toggler1">
              <span class="align-middle d-inline-block">{{ item.title }} </span>
            </a>
            <p class="mb-1 text-muted text-small w-15 w-xs-100">{{ item.category }}</p>
            <p class="mb-1 text-muted text-small w-15 w-xs-100">{{ item.date }}</p>
            <div class="w-15 w-xs-100"><span
              [class]="'badge badge-pill badge-' + item.labelColor">{{ item.label }}</span></div>
          </div>
        </div>
        <div class="card-body pt-1">
          <p class="mb-0">{{ item.detail }}</p>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="loading"></div>
  </ng-template>
</div>
<app-add-new-ticket #addNewModalRef></app-add-new-ticket>

