<app-base-screen [content]="thisScreen"></app-base-screen>
<ng-template #thisScreen>
  <app-table [tableHeaders]="columnHeaders" [tableRecords]="columnData" [title]="title" [mainActionButtons]="mainActionButton"
             [description]="desc"></app-table>
</ng-template>


<!--<div class="modal fade" id="largeModal" tabindex="-1">-->
<!--  <div class="modal-dialog modal-lg">-->
<!--    <div class="modal-content rounded-3">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title">New Actors</h5>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <form ngNativeValidate #myForm="ngForm" (ngSubmit)="onCreateNewItem(myForm)">-->
<!--          <div class="row mb-3">-->
<!--            <label for="newUserStoryItemName" class="col-sm-2 col-form-label">Name</label>-->
<!--            <div class="col-sm-10">-->
<!--              <input id="newUserStoryItemName" [(ngModel)]="newUserStoryItem.name" name="name" type="text" class="form-control">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row mb-3">-->
<!--            <label for="newUserStoryItemAlias" class="col-sm-2 col-form-label">Alias</label>-->
<!--            <div class="col-sm-10">-->
<!--              <input id="newUserStoryItemAlias" [(ngModel)]="newUserStoryItem.alias" name="name" type="text" class="form-control">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="modal-footer">-->
<!--            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Create</button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
