<app-base-screen [content]="thisScreen"></app-base-screen>
<ng-template #thisScreen>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Details</h5>
      <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link w-100 active" id="desc-tab" data-bs-toggle="tab"
                  data-bs-target="#bordered-justified-desc" type="button" role="tab" aria-controls="desc"
                  aria-selected="false">Description
          </button>
        </li>
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link w-100" id="goals-tab" data-bs-toggle="tab"
                  data-bs-target="#bordered-justified-goals" type="button" role="tab" aria-controls="goals"
                  aria-selected="false">Goals
          </button>
        </li>
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link w-100" id="overview-tab" data-bs-toggle="tab"
                  data-bs-target="#bordered-justified-overview" type="button" role="tab" aria-controls="overview"
                  aria-selected="true">Overview
          </button>
        </li>
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link w-100" id="history-tab" data-bs-toggle="tab"
                  data-bs-target="#bordered-justified-history" type="button" role="tab" aria-controls="history"
                  aria-selected="false">History
          </button>
        </li>
      </ul>
      <div class="tab-content pt-2" id="borderedTabJustifiedContent">
        <div class="tab-pane fade show active" id="bordered-justified-desc" role="tabpanel" aria-labelledby="desc-tab">
          <app-a-description></app-a-description>
        </div>
        <div class="tab-pane fade" id="bordered-justified-goals" role="tabpanel" aria-labelledby="goals-tab">
          <app-a-goals></app-a-goals>
        </div>
        <div class="tab-pane fade" id="bordered-justified-history" role="tabpanel" aria-labelledby="history-tab">
          <app-a-history></app-a-history>
        </div>
        <div class="tab-pane fade" id="bordered-justified-overview" role="tabpanel" aria-labelledby="overview-tab">
          <app-a-overview></app-a-overview>
        </div>
      </div>
    </div>
  </div>
</ng-template>
