<div class="modal-dialog modal-confirm">
  <div class="modal-content">
    <div class="row modal-header">
      <div class="col-12 icon-box">
        <i class="bi bi-x-lg"></i>
      </div>
      <h4 class="col-12 modal-title">{{ title }}</h4>
    </div>
    <div class="modal-body">
      <p>{{ description }}</p>
    </div>
    <div class="row modal-footer">
      <button type="button" class="col btn btn-info" data-dismiss="modal"> {{ secondaryButtonText}}</button>
      <button type="button" class="col btn btn-danger">{{ dangerButtonText }}</button>
    </div>
  </div>
</div>
